.container {
    display: flex;
    min-height: 100vh;
    background-color: var(--blue);
}

.motto {
    align-self: center;
    display: flex;
    padding: 2em 4em 2em 0;
    width: 45%;
    border-top: 2px solid var(--gold);
    border-right: 2px solid var(--gold);
    border-bottom: 2px solid var(--gold);
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
    .motto h2 {
        font-family: Monotype;
        font-weight: 300;
        font-size: 2.5em;
        color: var(--text);
    }
    .motto span {
        align-self: stretch;
        display: block;
        width: 8px;
        margin: 0 1em 0 3em;
        background-color: var(--gold);
    }

.img {
    display: flex;
    justify-content: center;
    width: 55%;
    opacity: 0.70;
}
    .img img {
        width: 100%;
        height: 100vh;
        object-fit: contain;
    }

.socials {
    position: absolute;
    bottom: 1em;
    left: 3em;
}
.icon {
    height: 32px;
    margin-right: 0.1em;
    font-size: 2em;
    color: var(--gold);
}